/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
	header .navbar{
		padding: 10px 0px;
		text-align: right;
		min-height: 60px;
	}
	header .navbar-nav{
		margin-top: 50px;
	}
	.navbar-toggler{
		background: #54d154;
		position: absolute;
    	right: 0px;
    	top: 10px;
	}
	header .navbar-light .navbar-nav .active .nav-link,
	header .navbar-light .navbar-nav .active .nav-link:hover{
  		border-top: none;
  		color: #54d154;
	}
	header .form-inline{
		float: right;
	}
	header .form-control{
		width: 70%;
	}
	.logo{
		margin-top: 20px;
		left: 0px;
		margin-left: 20px;
	}
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}
