/*GENERAL*/
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #828181;
}

/*HOME SLIDER*/
#home-slider {
  width: 100%;
  height: 600px;
}
#home-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#home-slider .swiper-slide mark{
  text-align: center;
  font-size: 32px;
  color: #FFF;
  font-weight: bold;
  background: none;
  clear: both;
  background: rgba(0,0,0,0.5);
  padding: 10px;
}
#home-slider .swiper-slide a.btn{
  display: block;
  background: #54d154;
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  text-transform: uppercase;
  max-width: 240px;
  margin: 20px auto;
  clear: both;
}
#home-slider .swiper-slide a.btn:hover{
  background: #2b9b2b;
}
#home-slider .swiper-slide .floater {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -50px;
}

/*HEADER*/
#home-header{
  position: relative;
}
header{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}
header .navbar{
  background: none !important;
  padding: 0px;
}
header .navbar-light .navbar-nav .nav-link{
  color: #FFF;
  padding-top: 15px;
}
header .navbar-light .navbar-nav .active .nav-link,
header .navbar-light .navbar-nav .active .nav-link:hover{
  border-top: 5px solid #54d154;
  font-weight: bold;
  padding-top: 10px;
  color: #FFF;
}
header .navbar-light .navbar-nav .nav-link:hover{
  color: #54d154;
}
header .form-inline .form-control{
  border-radius: 20px;
  background-color: rgba(255,255,255,0.5);
}
header .form-inline button{
  background: #FFF;
}
.logo{
  display: block;
  width: 62px;
  height: 19px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -31px;
  margin-top: 10px;
}
.scrolldown{
  background: rgba(255,255,255,0.5);
  color: #333;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  display: block;
  width: 160px;
  text-align: center;
  left: 50%;
  margin-left: -80px;
  z-index: 200;
}
.scrolldown:hover{
  background: rgba(255,255,255,0.8);
  color: #333;
}

/*WHAT WE DO*/
#what-we-do{
  margin: 40px 0px;
  text-align: center;
}
#what-we-do h2{
  font-weight: normal;
  text-transform: uppercase;
}
#what-we-do h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-top: 10px;
  border-bottom: 2px solid #828181;
}
#what-we-do .box{
  margin: 40px 20px 0px;
}
#what-we-do .box .icon{
  background: #e1f3e1;
  border-radius: 20px;
  padding: 10px;
  color: #54d154;
  width: 140px;
  margin: 0 auto;
  text-align: center;
  font-size: 72px;
  margin-bottom: 20px;
}
#what-we-do .box h3{
  font-weight: bold;
}
#what-we-do .box .btn{
  border-radius: 20px;
  background: #54d154;
  color: #FFF;
  max-width: 180px;
  margin: 0px auto;
}
#what-we-do .box .btn:hover{
  background: #2b9b2b;
}

/*OUT LATEST WORK*/
#our-latest-work{
  background: #54d154;
  padding: 40px 0px;
  text-align: center;
  color: #207b20;
}
#our-latest-work h2{
  font-weight: normal;
  text-transform: uppercase;
}
#our-latest-work h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-top: 10px;
  border-bottom: 2px solid #207b20;
}
#portfolio {  
  margin: 1rem 0;
  column-count: 5;
  column-gap: 1rem;
  column-width: 20%;
}
#portfolio .tile { 
  transform: scale(0);
  transition: all 350ms ease;
}
#portfolio .scale-anm {
  transform: scale(1);
}
#portfolio .tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.toolbar{
  margin: 40px 0px;
}
.toolbar .btn{
  border-radius: 20px;
  border: 1px solid #207b20;
  color: #207b20;
}
.toolbar .btn.active{
  background: #207b20;
  color: #FFF;
}
.more{
  background: #207b20;
  color: #FFF;
  margin: 40px auto 0px;
  border-radius: 20px;
}
.more:hover{
  color: #207b20;
  background: #FFF;
}

/*TESTIMONIAL*/
#testimonial{
  margin: 40px 0px;
  text-align: center;
}
#testimonial h2{
  font-weight: normal;
  text-transform: uppercase;
}
#testimonial h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-top: 10px;
  border-bottom: 2px solid #828181;
}
#testimonial-slider{
  margin-top: 40px;
  color: #333;
}
#testimonial-slider .swiper-slide{
  padding: 0px 80px;
}
#testimonial-slider h4{
  color: #207b20;
}

/*OUR HAPPY CLIENT*/
#our-happy-client{
  background: #f2f1f1;
  padding: 40px 0px;
  text-align: center;
}
#our-happy-client h2{
  font-weight: normal;
  text-transform: uppercase;
}
#our-happy-client h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-top: 10px;
  border-bottom: 2px solid #828181;
}
#our-happy-client .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#our-happy-client img{
  margin: 20px auto;
  vertical-align: middle;
}
#our-happy-client .see-all{
  background: #dddcdc;
  color: #828181;
  border-radius: 20px;
}
#our-happy-client .see-all:hover{
  background: #828181;
  color: #FFF;
}

/*MEET THE TEAM*/
#meet-the-team{
  background: #54d154;
  padding: 40px 0px;
  text-align: center;
  color: #207b20;
}
#meet-the-team h2{
  font-weight: normal;
  text-transform: uppercase;
}
#meet-the-team h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-top: 10px;
  border-bottom: 2px solid #207b20;
}
.person{
  margin: 40px 0px;
}
.person img{
  border-radius: 50%;
  margin-bottom: 10px;
}
.person h5{
  color: #FFF;
}
.person .social{
  margin: 0px;
  padding: 5px;
  background: rgba(255,255,255,0.5);
  display: inline-block;
  border-radius: 20px
}
.person .social li{
  display: inline;
  margin: 0 5px;
}
.person .social li a{
  color: #207b20;
}

/*WORK WITH US*/
#work-with-us{
  background: #3eba3e;
  text-align: center;
  padding: 20px 0px;
}
#work-with-us .btn{
  background: #54d154;
  color: #FFF;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
}
#work-with-us .btn:hover{
  background: #207b20;
  color: #FFF;
}